body {
  padding-top: 10em;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

p {
    line-height: 1.8em;
}

.text1 {
  padding-top: 10em;
}

.text2 {
  padding-top: 10em;
}

.text3 {
  padding-top: 10em;
}

.text3 h2 {
  padding-bottom: 1em;
}

.textcenter {
  padding-top: 10em;
  padding-left: 10em;
  padding-right: 10em;
}